@media screen and (max-width : 767px) {
    /* full page 안 progress */
    .progressArea{position: relative; padding-bottom: 30px; margin-bottom: 30px;}
    .progressArea .progressBar{position: absolute; left: 0; bottom: 0; width: 100%; height: 6px; background-color: rgba(0, 0, 0, 0.1);}
    .progressArea .progressBar span{position: absolute; left: 0; top: 0; width: 33.33%; height: 100%; background-color: #fa5014; }

    /* full page 안 scroll 공통 */
    [data-scrollAni="opacity"] [data-scroll="target"]{position: relative;}
    [data-scrollAni="opacity"] [data-scroll="target"] li{opacity: 0; transition: opacity 0.5s;}
    [data-scrollAni="opacity"] [data-scroll="target"] li.active{opacity: 1;}
    [data-scrollAni="opacity"] [data-scroll="target"] li:not(:first-child){position: absolute; left: 0; top: 0;}
    [data-scrollAni="opacity"] [data-scroll="target"] li mark{display: block; margin-bottom: 30px;}


    [data-scroll="fullPage"] > .topBox{position: relative; margin-bottom: 30px;}
    [data-scroll="fullPage"] > .topBox{ background-image:  url('../images/common/m-main-bg2.png') , url('../images/common/m-main-bg.png'); background-repeat:no-repeat; background-size: 100%/*  290px */; background-position: center bottom;}
    [data-scroll="fullPage"] > .topBox .CW{height: 100%; padding-top: 145px; padding-bottom: 320px;}
    [data-scroll="fullPage"] > .topBox .CW a{display: none;}
    [data-scroll="fullPage"] > .topBox .imgArea{position: absolute; left: 0; bottom: 0; width: 100%; height: 76.6vw /* 290px */; background-repeat: no-repeat; background-size: cover; text-indent: -9999px;}

    .deliveryPage > .topBox .imgArea{background-image: url('../images/delivery/m-top-delivery.png');}
    .foundedPage > .topBox .imgArea{background-image: url('../images/founded/m-top-founded.png');}
    .riderPage > .topBox .imgArea{background-image: url('../images/rider/m-top-rider.png');}


    /* ! 배달대행 */
    /* 사장님의 정성 그대로 빠르고 확실하게 */
    .deliveryPage .qualitativeArea{margin-bottom: 120px;}
    .deliveryPage .qualitativeArea .CW{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
    .deliveryPage .qualitativeArea .CW div h2{margin-bottom: 80px;}
    .deliveryPage .qualitativeArea .CW div h2 mark{display: block;}
    .deliveryPage .qualitativeArea .CW > ul{width: 77.5%; margin-left: auto;}
    .deliveryPage .qualitativeArea .CW > ul li{width: 100%;}

    /* 사장님의 따뜻한 마음 그대로 */
    .deliveryPage .mindArea{padding: 120px 0; background-color: #f6f6f6; margin-bottom: 120px;}
    .deliveryPage .mindArea .CW .imgArea{width: 100%; margin-bottom: 60px;}
    .deliveryPage .mindArea .CW .imgArea img{width: 100%;}
    .deliveryPage .mindArea .CW .textArea h2{margin-bottom: 20px;}
    .deliveryPage .mindArea .CW .textArea p:not(:last-of-type){margin-bottom: 30px;}
    .deliveryPage .mindArea .CW .textArea p:last-of-type{margin-bottom: 50px;}

    /* 성공하는 매장의 노하우 */
    .deliveryPage .knowHowArea{margin-bottom: 120px;}
    .deliveryPage .knowHowArea .CW .textArea{margin-bottom: 80px;}
    .deliveryPage .knowHowArea .CW .textArea h2{margin-bottom: 20px;}
    .deliveryPage .knowHowArea .CW .textArea p{margin-bottom: 50px;}
    .deliveryPage .knowHowArea .CW .textArea ul{display: flex; flex-wrap: wrap; gap: 20px;}
    .deliveryPage .knowHowArea .CW .imgArea{width: 100%;}

    /* 기업 고객을 위한 프리미엄 라스트마일 물류 서비스 */
    .deliveryPage .distributionArea{padding-top: 160px; position: relative; margin-bottom: 120px;}
    .deliveryPage .distributionArea .CW .imgArea{position: absolute; left: 0; top: 0; width: 80.5555%; z-index: -1;}
    .deliveryPage .distributionArea .CW .textArea{padding-top: 55px;}
    .deliveryPage .distributionArea .CW .textArea h2{margin-bottom: 80px;}
    .deliveryPage .distributionArea .CW .textArea > *:not(h2){padding-left: 45px;}
    .deliveryPage .distributionArea .CW .textArea mark{display: block; margin-bottom: 20px;}
    .deliveryPage .distributionArea .CW .textArea p:not(:last-of-type){margin-bottom: 80px;}

    /* 배너 */
    .deliveryPage .bannerArea{background: url('../images/delivery/bottom-delivery.png') no-repeat center / cover;}
    .deliveryPage .bannerArea div{height: 540px; display: flex; align-items: flex-end; padding: 40px 20px; box-sizing: border-box;}
    .deliveryPage .bannerArea div p{font-size: 18px; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 10px black;}


    /* ! 라이더 지원 */
    /* 프로를 프로답게 바로고 라이더 라이프 */
    .riderPage .lifeArea{padding-bottom: 215px; position: relative; margin-bottom: 120px;}
    .riderPage .lifeArea .CW .textArea > *:not(h2){padding-left: 45px;}
    .riderPage .lifeArea .CW .textArea mark{display: block; margin-bottom: 20px;}
    .riderPage .lifeArea .CW .textArea h2{margin-bottom: 40px;}
    .riderPage .lifeArea .CW .textArea p:not(:last-of-type){margin-bottom: 30px;}
    .riderPage .lifeArea .CW .imgArea{width: 80.5555%; position: absolute; right: 0; bottom: 0;}

    /* 라이더님만을 위한 놀이터 바로고 플레이 */
    .riderPage .playgroundArea .CW{position: relative;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1){margin-bottom: 80px;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2{margin-bottom: 25px;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2 mark{display: block;}
    .riderPage .playgroundArea .CW .imgArea{width: 100%;}

    /* 나의 라이프스타일에 맞춰 주간스케쥴을 입력해보세요 */
    .riderPage .revenueArea{background-color: #f6f6f6; padding: 105px 0 85px;}
    .riderPage .revenueArea .CW{}
    .riderPage .revenueArea .CW .textArea{display: flex; flex-direction: column; margin-bottom: 155px;}
    .riderPage .revenueArea .CW .textArea small{display: block; margin-bottom: 40px; order: 1;}
    .riderPage .revenueArea .CW .textArea > div{margin-bottom: 35px;}
    .riderPage .revenueArea .CW .textArea > div > div{display: inline-block; position: relative;}
    .riderPage .revenueArea .CW .textArea > div > div button{display: flex;  align-items: center; }
    .riderPage .revenueArea .CW .textArea > div > div button::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background-color: black;}
    .riderPage .revenueArea .CW .textArea > div > div button::after{content: ''; width: 48px; height: 48px; background: url('../images/common/dropdown.png') no-repeat center / cover;}
    .riderPage .revenueArea .CW .textArea > div > div > div{position: absolute; left: 0;  top: 100%; width: 100%;  z-index: 1; display: none; overflow: hidden;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul{height: 300px; overflow: auto;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul li{display: block; line-height: 40px; text-align: center; color: white; background-color: #444;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul li:hover{background-color: black;}
    .riderPage .revenueArea .CW .textArea > div > div > div .progressBar{position: absolute; right: 0; top: 0; width: 5px; background-color: #fa5014;}
    .riderPage .revenueArea .CW .textArea > div > div > div.scrollHidden ul{width: calc(100% + 17px);}
    .riderPage .revenueArea .CW > div:last-child{position: relative; width: 260px; margin-left: auto;}
    .riderPage .revenueArea .CW > div:last-child p{position: absolute; left: 0; top: -60px; width: 190px; height: 55px; padding: 15px 20px; font-weight: 700; color: white;  box-sizing: border-box; background: url('../images/rider/tagbox.png') no-repeat center / 190px;}
    .riderPage .revenueArea .CW > div:last-child span{font-size: 43px; font-weight: 700;}
    .riderPage .revenueArea .CW > div:last-child span::before{content: '₩ ';}

    /* 망설이지 바로 시작하세요! */
    .riderPage .startArea{overflow: hidden; padding: 100px 0;}
    .riderPage .startArea .CW{position: relative;}
    .riderPage .startArea .CW .textArea h2{margin-bottom: 20px;}
    .riderPage .startArea .CW .textArea h2 mark{display: block;}
    .riderPage .startArea .CW .imgArea{position: relative;}
    .riderPage .startArea .CW .imgArea img{width: 100%;}

    /* 라이더에게 최적화된 바로고 기능성 굿즈 */
    .riderPage .goodsArea{margin-bottom: 120px;}
    .riderPage .goodsArea div h2{width: 195px; margin-bottom: 35px;}
    .riderPage .goodsArea div ul{display: flex; flex-wrap: wrap; justify-content: space-between; }
    .riderPage .goodsArea div ul li{width: 47.5%; height: 150px;}
    .riderPage .goodsArea div ul li img{width: 100%;}
    .riderPage .goodsArea div ul li:not(:nth-child(2n)){margin-right: 5%;}
    .riderPage .goodsArea div ul li:not(:nth-last-child(-n + 2)){margin-bottom: 5%;}
    .riderPage .goodsArea div ul li p{font-size: 24px; line-height: 1.46; font-weight: 700; color: rgba(0, 0, 0, 0.22);}
    .riderPage .goodsArea div ul li p::before{content: '#';}
    .riderPage .goodsArea div ul li:not(:first-child){background-repeat: no-repeat; background-position: center; background-size: cover;}
    .riderPage .goodsArea div ul li:nth-child(2){background-image: url('../images/rider/goods01.png');}
    .riderPage .goodsArea div ul li:nth-child(3){background-image: url('../images/rider/goods02.png');}
    .riderPage .goodsArea div ul li:nth-child(4){background-image: url('../images/rider/goods03.png');}
    .riderPage .goodsArea div ul li:nth-child(5){background-image: url('../images/rider/goods04.png');}
    .riderPage .goodsArea div ul li:nth-child(6){background-image: url('../images/rider/goods05.png');}

    /* 배너 */
    .riderPage .bannerArea{background: url('../images/rider/bottom-rider.png') no-repeat center / cover; padding: 80px 0;}
    .riderPage .bannerArea div{height: 540px; display: flex; align-items: flex-end; padding: 40px 20px; box-sizing: border-box;}
    .riderPage .bannerArea div p{width: 535px; font-size: 18px; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 10px black;}

    /* ! 허브 창업 */
    /* 바로고와 함께하는 이유 */
    .foundedPage .reasonArea{margin-bottom: 120px;}
    .foundedPage .reasonArea .CW .textArea h2{margin-bottom: 80px;}
    .foundedPage .imgArea .foundedSlider{width: 60%; height: 400px; position: relative;}
    .foundedPage .imgArea .foundedSlider::before ,.foundedPage .foundedSlider::after{content: ''; position: absolute; left: 0; width: 100%; height: 124px; z-index: 5;} 
    .foundedPage .imgArea .foundedSlider::before{top: 0; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); transform: rotate(-180deg);}
    .foundedPage .imgArea .foundedSlider::after{bottom: 0; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper{padding: 0 20px; box-sizing: border-box;}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper .swiper-slide{height: 88px; box-shadow: 0 8px 34px 0 rgb(8 11 21 / 7%); background-color: white; display: flex; justify-content: space-between;}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper .swiper-slide img{width: auto; height: 100%;}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper .swiper-slide div{display: flex; flex-direction: column; justify-content: center; padding-right: 40px; text-align: right;}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper .swiper-slide div span{margin-bottom: 10px; color: #a2a2a2;}
    .foundedPage .imgArea .foundedSlider .swiper-wrapper .swiper-slide div p{font-size: 17px;}

    /* 놀라운 바로고의 성장세 */
    .foundedPage .growthArea{margin-bottom: 120px;}
    .foundedPage .growthArea .CW div{margin-bottom: 60px;}
    .foundedPage .growthArea .CW div h2{margin-bottom: 20px;}
    .foundedPage .growthArea .CW ul{display: flex; flex-wrap: wrap; padding-left: 30px;}
    .foundedPage .growthArea .CW ul li{min-width: 135px;}
    .foundedPage .growthArea .CW ul li:not(:nth-last-child(-n + 2)){margin-bottom: 40px;}
    .foundedPage .growthArea .CW ul li mark{font-weight: 700; display: block; margin-bottom: 15px;}
    .foundedPage .growthArea .CW ul li p::after{content: '+';}

    /* 허브 성장의 동반자 */
    .foundedPage .companionArea{margin-bottom: 120px;}
    .foundedPage .companionArea .CW .textArea{margin-bottom: 50px;}
    .foundedPage .companionArea .CW .textArea h2{max-width: 200px; margin-bottom: 20px;}
    .foundedPage .companionArea .CW .imgArea{width: 100%; margin-bottom: 80px;} 
    .foundedPage .companionArea .CW ul{text-align: center;}
    .foundedPage .companionArea .CW ul li:not(:last-child){margin-bottom: 80px;}
    .foundedPage .companionArea .CW ul li strong{font-weight: 700; display: block; margin-bottom: 20px;}
    .foundedPage .companionArea .CW ul li mark{font-weight: 700; display: block; margin-bottom: 10px;}
    .foundedPage .companionArea .CW ul li p{font-size: 16px; line-height: 1.5; color: #666;}

    /* 배너 */
    .foundedPage .bannerArea{background: url('../images/founded/buttom-founded.png') no-repeat center / cover;}
    .foundedPage .bannerArea div{height: 540px; display: flex; align-items: flex-end; padding: 40px 20px; box-sizing: border-box;}
    .foundedPage .bannerArea div p{font-size: 18px; font-weight: 700; line-height: 1.5; color: white;}
}