
@media screen and (max-width : 767px) {
     /* 공통 */
    /* 폰트 케이스 */
    /* title case */
    [class |= "TC"]{letter-spacing: -1px;}
    .TC-01{font-size: 1.875rem; line-height: 1.33; font-weight: 700;}
    .TC-02{font-size: 1.500rem; line-height: 1.43; font-weight: 700;}
    .TC-03{font-size: 1.250rem; font-weight: 700;}
        
    /* font case 일반글자 */
    .FC-01{font-size: 1.000rem; line-height: 1.5; letter-spacing: -0.1px;}

    /* 포인트 색상 */
    mark{color: #fa5014;}
    /* mark 접근성 */
    mark::before{ clip-path: inset(100%); clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px;}
    mark::before {content: attr('title');}

    br.pc{display: none;}

    /* 버튼 공통*/
    /* BTN (button) 배경이 들어가는 기본 버튼 */
    [class |= "BTN"]{ display: flex; justify-content: space-between; align-items: center; box-shadow: 0 3px 7px 0 white; box-sizing: border-box; font-weight: 700;}
    .BTN-arrow{ color: white; max-width: 16.688rem; line-height: 4.500rem; font-size: 1.250rem;  padding:0 2.500rem; background-color: #fa5014; border: none;}
    .BTN-arrow::after{content: ''; width: 2.875rem; height: 0.625rem; background: url('../images/common/arrow_white.png') no-repeat center / cover; margin-left: 1.875rem;}
    input[type="submit"].BTN-arrow{width: 12.063rem; background:#fa5014 url('../images/common/arrow_white.png') no-repeat right 2.500rem center / 2.875rem;}
    /* BBTN (border button) 테두리가 들어가는 버튼*/
    [class |= "BBTN"]{display: flex; justify-content: space-between; align-items: center; max-width: 14.063rem; line-height: 3.875rem; font-size: 1.125rem; font-weight: 700; box-shadow: 0 3px 7px 0 white; color: #fa5014; border: 1px solid #fa5014; border-radius: 3px; padding: 0 1.875rem; box-sizing: border-box;}
    [class |= "BBTN"]::after{content: ''; width: 1.250rem; height: 1.250rem; margin-left: 0.625rem; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .BBTN-go::after{background-image: url('../images/common/go.png');}
    .BBTN-subscribe::after{background-image: url('../images/common/subscribe.png');}
    .BBTN-download::after{background-image: url('../images/common/download.png');}

    /* 문의하기 링크 */
    .fixedLink{position: fixed; left: 0; bottom: 0; color: white; width: 100%; line-height: 3.750rem; font-size: 1.000rem;  background-color: #fa5014; border: none; display: flex; justify-content: center; align-items: center; box-sizing: border-box; z-index: 10;}
    
    /* 탑 버튼 */
    .topBtn{ display: none; position: fixed; left: 1.875rem; bottom: 6.250rem; width: 1.875rem; height: 1.875rem; background:white url('../images/common/top.png') no-repeat center / cover; text-indent: -9999px; z-index: 10;}
    .topBtn.active{display: block;}

     /* 해더 */
     header{position: fixed; left: 0; top: 0; width: 100%; padding: 1.875rem 0; z-index: 100; transition-duration: 0.5s; background-color: white; transition-property: padding , box-shadow;}
     header div{display: flex; justify-content: space-between;}
     header div h1{width: 1.625rem;}
     header div h1 img{width: 100%;}
     header div nav{position: fixed; right: -100%; top: 0; width: 17.938rem; height: 100%; background-color: white; box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.2); transition: right 0.5s;}
     header div nav.active{right: 0;}
     header div nav ul{padding: 3.750rem 1.875rem;}
     header div nav ul li:not(:last-child){margin-bottom: 3.125rem;}
     header div nav ul li a{font-weight: 700; display: block;}
     header div button{width: 1.625rem; padding: 0.313rem 0.250rem; box-sizing: border-box; position: relative; z-index: 10; transition: padding 0.5s;}
     header div button span{display: block; height: 0.188rem; background-color: black; transition-duration: 0.5s; transition-property: opacity , transform;}
     header div button span:nth-child(2){width: 0.875rem; margin-left: auto;}
     header div button span:not(:last-child){margin-bottom: 0.250rem;}
     header div button.active{padding: 0;}
     header div button.active span:nth-child(1){transform: translateY(0.438rem) rotate(45deg);}
     header div button.active span:nth-child(2){opacity: 0;}
     header div button.active span:nth-child(3){transform: translateY(-0.438rem) rotate(-45deg);}
     .inquiryPage header div{flex-direction: column; align-items: flex-start;}
     .inquiryPage header div h1{margin-bottom: 2.500rem;}
     .inquiryPage header div nav{display: none;}
     .inquiryPage header div button{display: none;}
     .inquiryPage header div > a{text-indent: -9999px; width: 1.500rem; height: 1.500rem; background: url('../images/common/back.png') no-repeat center / cover;}
     .inquiryPage header div > p{display: none; font-size: 1.125rem; font-weight: 700; margin-left: 1.250rem;}
     .inquiryPage header.active div{display: flex; flex-direction: row; justify-content: flex-start; align-items: center;}
     .inquiryPage header.active div > p{display: block;}
     
     header.active{padding: /* 1.250rem */1.250rem 0; box-shadow: 0 0.188rem 0.438rem 0 rgba(0, 0, 0, 0.1)}
     .inquiryPage header.active h1{display: none;}


     /* 이미지 공통 */
    .imgArea img{width: 100%;}


    /* 슬라이더 공통 */
    .sliderBox{overflow: hidden; padding: 7.500rem 0;}
    .sliderBox h2{margin-bottom: 3.125rem;}
    .sliderBox .swiper{overflow: visible; width: 85%; margin: 0;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide:not(:last-of-type){}
    .sliderBox .swiper .swiper-wrapper .swiper-slide img{width: 100%; margin-bottom: 1.250rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide mark{display: block; font-weight: 700; margin-bottom: 0.313rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide p{color: #111;}


    /* 푸터 */
    footer{padding-bottom: 3.750rem;}
    footer .topArea{background-color: black; padding: 1.250rem 0;}
    footer .topArea div .linkArea{color: white; margin-bottom: 2.500rem;}
    footer .topArea div .linkArea > li b{display: flex; justify-content: space-between; align-items: center; font-size: 0.875rem; line-height: 3.125rem; font-weight: 700;}
    footer .topArea div .linkArea > li b::after{content: ''; width: 1.000rem; height: 1.000rem; background: url('../images/common/footer-more.png') no-repeat center / cover; transition: transform 0.5s;}
    footer .topArea div .linkArea > li b.active::after{transform: rotate(180deg);}
    footer .topArea div .linkArea > li ul{display: none;}
    footer .topArea div .linkArea > li ul li a{font-size: 0.875rem; line-height: 2.17; font-weight: 500; display: flex;}
    footer .topArea div .linkArea > li ul li a::before{content: attr('title'); font-weight: 700; width: 2.500rem;}
    footer .topArea div .SNSArea{display: flex; gap: 1.250rem;}
    footer .topArea div .SNSArea li a{display: block; width: 1.250rem; height: 1.250rem; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    footer .topArea div .SNSArea li:nth-child(1) a{background-image: url('../images/common/facebook.png');}
    footer .topArea div .SNSArea li:nth-child(2) a{background-image: url('../images/common/youtube.png');}
    footer .topArea div .SNSArea li:nth-child(3) a{background-image: url('../images/common/blog.png');}
    footer .topArea div .SNSArea li:nth-child(4) a{background-image: url('../images/common/insta.png');}
    
    /* 바텀 공통 */
    footer .bottomArea{padding: 1.250rem 0;}
    footer .bottomArea p{font-size: 0.750rem; line-height: 1.4; color: #999;}
    footer .bottomArea div:first-of-type{border-bottom: 0.063rem solid #d8d8d8; padding-bottom: 1.250rem; margin-bottom: 1.250rem;}
    footer .bottomArea div:first-of-type h2{margin-bottom: 0.625rem;}
    footer .bottomArea div:first-of-type address{display: flex; flex-wrap: wrap; }
    footer .bottomArea div:first-of-type > p{margin-bottom: 1.250rem;}
    footer .bottomArea div:first-of-type ul{display: flex; flex-wrap: wrap; gap: 0.625rem;}
    footer .bottomArea div:first-of-type ul li:not(:last-child){border-right: 0.063rem solid #d8d8d8;}
    footer .bottomArea div:first-of-type ul li a{font-size: 0.875rem; font-weight: 700;}
    footer .bottomArea div:nth-of-type(2) b{display: block; font-size: 0.750rem; margin-bottom: 0.625rem; font-weight: 700;}
    footer .bottomArea div:nth-of-type(2) a{font-size: 1.625rem; font-weight: 700; line-height: 1.19; margin-bottom: 0.625rem;}
    footer .bottomArea div:nth-of-type(2) p{line-height: 1.25;}

}

