@media screen and (max-width : 1220px) {
    html{font-size: 1.3114vw;}
    /* 공통 */
    /* 폰트 케이스 */
    /* title case */
    .TC-01{font-size: 3.375rem; line-height: 1.33; font-weight: 700;}
    .TC-02{font-size: 2.625rem; line-height: 1.43; font-weight: 700;}
    .TC-03{font-size: 2.000rem; font-weight: 700;}
        
    /* font case 일반글자 */
    .FC-01{font-size: 1.250rem; line-height: 1.5; letter-spacing: -0.1px;}

    /* 포인트 색상 */
    mark{color: #fa5014;}
    /* mark 접근성 */
    mark::before{ clip-path: inset(100%); clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px;}
    mark::before {content: attr('title');}


    /* 버튼 공통*/
    /* BTN (button) 배경이 들어가는 기본 버튼 */
    [class |= "BTN"]{ display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; font-weight: 700;}
    .BTN-arrow{ color: white; max-width: 16.688rem; line-height: 4.500rem; font-size: 1.250rem;  padding:0 2.500rem; background-color: #fa5014; border: none;}
    .BTN-arrow::after{content: ''; width: 2.875rem; height: 0.625rem; background: url('../images/common/arrow_white.png') no-repeat center / cover; margin-left: 1.875rem;}
    /* BBTN (border button) 테두리가 들어가는 버튼*/
    [class |= "BBTN"]{display: flex; justify-content: space-between; align-items: center; max-width: 14.063rem; line-height: 3.875rem; font-size: 1.125rem; font-weight: 700; color: #fa5014; border: 1px solid #fa5014; border-radius: 0.188rem; padding: 0 1.875rem; box-sizing: border-box;}
    [class |= "BBTN"]::after{content: ''; width: 1.250rem; height: 1.250rem; margin-left: 0.625rem; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .BBTN-go::after{background-image: url('../images/common/go.png');}
    .BBTN-subscribe::after{background-image: url('../images/common/subscribe.png');}
    .BBTN-download::after{background-image: url('../images/common/download.png');}


    /* 해더 */
    header{position: fixed; left: 0; top: 0; width: 100%; padding-top: 3.438rem; z-index: 100; transition-duration: 0.5s; background-color: white; transition-property: padding , box-shadow;}
    header div{display: flex; align-items: center;}
    header div h1{position: absolute; left: 3.750rem; top: 3.125rem; width: 3.750rem; transition-duration: 0.5s; transition-property: top , left , width;}
    header div h1.active{position: static; margin-right: 3.125rem;}
    header div h1 img{width: 100%;}
    header div nav ul{display: flex;}
    header div nav ul li:not(:last-child){margin-right: 3.750rem;}
    header div nav ul li a{padding: 0.625rem 0;}
    header div nav ul li:not(.active) a{font-weight: 500;}
    header div nav ul li.active a{font-weight: 700; position: relative;}
    header div nav ul li.active a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.250rem; background-color: black;}
    header div > a{text-indent: -9999px; width: 2.250rem; height: 2.250rem; background: url('../images/common/back.png') no-repeat center / cover;}
    header div button{display: none;}
    header div > p{display: none;}
    :is(.mainPage , .aboutUsPage) header div nav ul li:not(.active) a{opacity: 0.3;}
    :is(.mainPage , .aboutUsPage) header div nav ul li:hover a{opacity: 1;}

    header.active{padding: 1.250rem 0; box-shadow: 0 0.188rem 0.438rem 0 rgba(0, 0, 0, 0.1)}
    header.active h1{top: 1.875rem; left: 3.750rem; width: 2.188rem;}

    /* 푸터 */
    footer .topArea{background-color: black; padding: 3.125rem 0;}
    footer .topArea div{display: flex; justify-content: space-between;}
    footer .topArea div .linkArea{display: flex; color: white;}
    footer .topArea div .linkArea > li:not(:last-of-type){margin-right: 8.125rem;}
    footer .topArea div .linkArea > li b{display: block; font-size: 0.875rem; font-weight: 700; margin-bottom: 0.938rem;}
    footer .topArea div .linkArea > li ul li a{font-size: 0.750rem; line-height: 2.17; font-weight: 500; display: flex;}
    footer .topArea div .linkArea > li ul li a::before{content: attr('title'); font-weight: 700; width: 2.500rem;}
    footer .topArea div .SNSArea{display: flex; gap: 1.250rem;}
    footer .topArea div .SNSArea li a{display: block; width: 1.250rem; height: 1.250rem; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    footer .topArea div .SNSArea li:nth-child(1) a{background-image: url('../images/common/facebook.png');}
    footer .topArea div .SNSArea li:nth-child(2) a{background-image: url('../images/common/youtube.png');}
    footer .topArea div .SNSArea li:nth-child(3) a{background-image: url('../images/common/blog.png');}
    footer .topArea div .SNSArea li:nth-child(4) a{background-image: url('../images/common/insta.png');}

    /* 바텀 공통 */
    footer .bottomArea{padding: 3.125rem 0;}
    footer .bottomArea p{font-size: 0.750rem; color: #999;}
    footer .bottomArea{display: flex; justify-content: space-between; align-items: flex-end;}
    footer .bottomArea div:first-of-type h2{margin-bottom: 0.625rem;}
    footer .bottomArea div:first-of-type address{display: flex; margin-bottom: 0.313rem;}
    footer .bottomArea div:first-of-type address p:not(:last-of-type){margin-right: 0.313rem;}
    footer .bottomArea div:first-of-type > p{margin-bottom: 1.250rem;}
    footer .bottomArea div:first-of-type ul{display: flex;}
    footer .bottomArea div:first-of-type ul li:not(:last-of-type){margin-right: 1.250rem;}
    footer .bottomArea div:first-of-type ul li a{font-size: 0.875rem; font-weight: 700;}
    footer .bottomArea div:nth-of-type(2){text-align: right;}
    footer .bottomArea div:nth-of-type(2) b{display: block; font-size: 0.750rem; margin-bottom: 0.625rem;}
    footer .bottomArea div:nth-of-type(2) a{font-size: 1.625rem; font-weight: 700; line-height: 1.19; margin-bottom: 0.625rem;}
    footer .bottomArea div:nth-of-type(2) p{line-height: 1.25;}


    /* 메인페이지 공통 */
    [data-scroll="fullPage"] > *{height: 100vh; box-sizing: border-box; border-bottom: 1px solid black;}
    [data-scroll="fullPage"] > *:not(.topBox){display: flex; justify-content: center; align-items: center; padding-top: 5.625rem; box-sizing: border-box;}

    /* 메인페이지 상단 */
    [data-scroll="fullPage"] > .topBox{padding-top: 11.875rem; background: url('../images/common/main-bg.png') repeat-x center bottom / 100% 30.875rem;}
    [data-scroll="fullPage"] > .topBox > div{height: 100%; max-width: 1650px; margin: 0 auto; background-repeat: no-repeat; background-position: right bottom 8% ,center bottom 8.750rem; background-size: 65% , 100% 12.000rem;}
    [data-scroll="fullPage"] > .topBox > div div{height: 100%; padding: 0 14.688rem;}
    [data-scroll="fullPage"] > .topBox > div div h2{margin-bottom: 2.500rem;}

    /* 배달대행 상단 이미지 */
    .deliveryPage .topBox > div{background-image:  url('../images/delivery/top-delivery.png') ,url('../images/common/main-bg2.png') ;}
    /* 라이더 상단 이미지 */
    .riderPage .topBox > div{background-image:  url('../images/rider/top-rider.png') ,url('../images/common/main-bg2.png') ;}
    /* 허브창업 상단 이미지 */
    .foundedPage .topBox > div{background-image:  url('../images/founded/top-founded.png') ,url('../images/common/main-bg2.png') ;}

    /* full page 안 progress */
    .progressArea{position: relative; padding-left: 6.250rem;}
    .progressArea .progressBar{position: absolute; left: 0; top: 0; width: 0.375rem; height: 100%; background-color: rgba(0, 0, 0, 0.1);}
    .progressArea .progressBar span{position: absolute; left: 0; top: 0; width: 100%; height: 33.33%; background-color: #fa5014; }

    /* full page 안 scroll 공통 */
    [data-scroll="target"]{position: relative;}
    [data-scroll="target"] li{opacity: 0; transition: opacity 0.5s;}
    [data-scroll="target"] li.active{opacity: 1;}
    [data-scroll="target"] li:not(:first-child){position: absolute; left: 0; top: 0;}
    [data-scroll="target"] li mark{display: block; margin-bottom: 1.875rem;}

    /* 이미지 공통 */
    .imgArea img{width: 100%;}

    /* 슬라이더 공통 */
    .sliderBox{overflow: hidden;}
    .sliderBox h2{margin-bottom: 3.125rem;}
    .sliderBox .swiper{overflow: visible;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide{width: calc((100% - 1.563rem) / 2); max-width: 35.938rem; }
    .sliderBox .swiper .swiper-wrapper .swiper-slide:not(:last-of-type){margin-right: 1.563rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide img{width: 100%; margin-bottom: 1.250rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide mark{display: block; font-weight: 700; margin-bottom: 0.313rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide p{color: #111;}

    /* 후원 */
    .supportArea > div{width: 100%; height: 100%; display: flex; align-items: flex-end; background: #1a1a1a url('../images/common/footer_bg.png') no-repeat center top / 100% 11.875rem; position: relative; overflow: hidden; border-bottom: 1px solid #fa5014;}
    .supportArea > div::after{content: ''; position: absolute; left: 50%; top: 11.250rem; width: 100%; min-width: 1920px;  transform: translateX(-50%); height: 3.875rem; background: url('../images/common/footer_line.png') no-repeat center center / 100% 3.875rem;}
    .supportArea > div div{padding-bottom: 2.500rem;}
    .supportArea > div div mark{display: block; margin-bottom: 4.375rem;}
    .supportArea > div div b{display: block; font-weight: 700; color: white; margin-bottom: 1.875rem;}
    .supportArea > div div span{display: block; background-repeat: no-repeat; background-size: cover; background-position: center; height: 0.001px; overflow: hidden; text-indent: -9999px;}
    .supportArea > div div span:not(:last-of-type){margin-bottom: 1.875rem;}
    .supportArea > div div span:nth-of-type(1){background-image: url('../images/common/supoort01.png'); padding-bottom: 15.9322%;}
    .supportArea > div div span:nth-of-type(2){background-image: url('../images/common/supoort02.png'); padding-bottom: 12.2881%;}
    .supportArea > div div span:nth-of-type(3){background-image: url('../images/common/supoort03.png'); padding-bottom: 1.6949%;}

    /* ! 배달대행 */
    /* 사장님의 정성 그대로 빠르고 확실하게 */
    .deliveryPage .qualitativeArea .CW{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
    .deliveryPage .qualitativeArea .CW div h2{margin-bottom: 6.250rem;}
    .deliveryPage .qualitativeArea .CW div h2 mark{display: block;}
    .deliveryPage .qualitativeArea .CW > ul{width: 49.15%;}
    .deliveryPage .qualitativeArea .CW > ul li{width: 100%;}
    .deliveryPage .qualitativeArea .CW > ul li img{width: 100%;}

    /* 사장님의 따뜻한 마음 그대로 */
    .deliveryPage .mindArea{background-color: #f6f6f6;}
    .deliveryPage .mindArea .CW{display: flex; justify-content: space-between; align-items: center;}
    .deliveryPage .mindArea .CW .imgArea{width: 40.67%;}
    .deliveryPage .mindArea .CW .textArea h2{margin-bottom: 1.875rem;}
    .deliveryPage .mindArea .CW .textArea p:not(:last-of-type){margin-bottom: 1.875rem;}
    .deliveryPage .mindArea .CW .textArea p:last-of-type{margin-bottom: 3.125rem;}

    /* 성공하는 매장의 노하우 */
    .deliveryPage .knowHowArea .CW{display: flex; justify-content: space-between; }
    .deliveryPage .knowHowArea .CW .textArea h2{margin-bottom: 1.875rem;}
    .deliveryPage .knowHowArea .CW .textArea p{margin-bottom: 3.125rem;}
    .deliveryPage .knowHowArea .CW .textArea ul{display: flex;}
    .deliveryPage .knowHowArea .CW .textArea ul li:not(:last-child){margin-right: 1.250rem;}
    .deliveryPage .knowHowArea .CW .imgArea{width: 49.15%;}

    /* 기업 고객을 위한 프리미엄 라스트마일 물류 서비스 */
    .deliveryPage .distributionArea .CW{position: relative;}
    .deliveryPage .distributionArea .CW .imgArea{position: absolute; left: 0; top: 0; width: 53.38%; z-index: -1;}
    .deliveryPage .distributionArea .CW .textArea{width: 35.625rem; margin-left: auto;}
    .deliveryPage .distributionArea .CW .textArea > *:not(h2){padding-left: 6.250rem;}
    .deliveryPage .distributionArea .CW .textArea h2{margin-bottom: 5.000rem;}
    .deliveryPage .distributionArea .CW .textArea mark{display: block; margin-bottom: 1.563rem;}
    .deliveryPage .distributionArea .CW .textArea p:not(:last-of-type){margin-bottom: 3.750rem;}

    /* 배너 */
    .deliveryPage .bannerArea{background: url('../images/delivery/bannerBG.png') no-repeat center / cover; padding: 5.000rem 0;}
    .deliveryPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .deliveryPage .bannerArea div p{width: 31.250rem; font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 0.625rem black;}


    /* ! 라이더 지원 */
    /* 프로를 프로답게 바로고 라이더 라이프 */
    .riderPage .lifeArea .CW{position: relative;}
    .riderPage .lifeArea .CW .textArea > *:not(h2){padding-left: 6.250rem;}
    .riderPage .lifeArea .CW .textArea mark{display: block;}
    .riderPage .lifeArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .riderPage .lifeArea .CW .textArea > mark{margin-bottom: 1.563rem;}
    .riderPage .lifeArea .CW .textArea p:not(:last-of-type){margin-bottom: 3.750rem;}
    .riderPage .lifeArea .CW .imgArea{width: 52.54%; position: absolute; right: 0; top: 0;}

    /* 라이더님만을 위한 놀이터 바로고 플레이 */
    .riderPage .playgroundArea .CW{position: relative;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1){margin-bottom: 12.500rem;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2{margin-bottom: 1.563rem;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2 mark{display: block;}
    .riderPage .playgroundArea .CW .textArea .progressArea{width: 23.438rem; margin-left: auto; box-sizing: border-box;}
    .riderPage .playgroundArea .CW .imgArea{position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); width: 43.64%;}

    /* 나의 라이프스타일에 맞춰 주간스케쥴을 입력해보세요 */
    .riderPage .revenueArea{background-color: #f6f6f6;}
    .riderPage .revenueArea .CW{display: flex; justify-content: space-between; align-items: flex-end;}
    .riderPage .revenueArea .CW > div:first-child small{display: block; margin-bottom: 2.500rem;}
    .riderPage .revenueArea .CW > div:first-child > div div{display: inline-block; position: relative;}
    .riderPage .revenueArea .CW > div:first-child > div div button{display: flex;  align-items: center; }
    .riderPage .revenueArea .CW > div:first-child > div div button::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.250rem; background-color: black;}
    .riderPage .revenueArea .CW > div:first-child > div div button::after{content: ''; width: 3.000rem; height: 3.000rem; background: url('../images/common/dropdown.png') no-repeat center / cover;}
    .riderPage .revenueArea .CW > div:first-child > div div ul{position: absolute; left: 0;  top: 100%; width: 100%; z-index: 1; display: none;}
    .riderPage .revenueArea .CW > div:first-child > div div ul li{display: block; line-height: 2.500rem; text-align: center; color: white; background-color: #444;}
    .riderPage .revenueArea .CW > div:first-child > div div ul li:hover{background-color: black;}
    .riderPage .revenueArea .CW > div:last-child{position: relative;}
    .riderPage .revenueArea .CW > div:last-child p{position: absolute; left: 1.875rem; top: -5.313rem; width: 15.000rem; height: 4.375rem; padding: 0.938rem 1.875rem; font-weight: 700; color: white;  box-sizing: border-box; background: url('../images/rider/tagbox.png') no-repeat center / 15.000rem;}
    .riderPage .revenueArea .CW > div:last-child span{font-size: 5.625rem; font-weight: 700;}

    /* 망설이지 바로 시작하세요! */
    .riderPage .startArea .CW{position: relative;}
    .riderPage .startArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .riderPage .startArea .CW .imgArea{position: absolute; right: 0; top: 50%; width: 54.23%; transform: translateY(-50%);}

    /* 라이더에게 최적화된 바로고 기능성 굿즈 */
    .riderPage .goodsArea div h2{display: inline-block; margin-bottom: 3.125rem;}
    .riderPage .goodsArea div ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .riderPage .goodsArea div ul li{width: 31.77%; height: 18.750rem;}
    .riderPage .goodsArea div ul li img{width: 100%;}
    .riderPage .goodsArea div ul li:not(:nth-last-child(-n + 3)){margin-bottom: 2.345%;}
    .riderPage .goodsArea div ul li p{font-size: 3.000rem; line-height: 1.46; font-weight: 700; color: rgba(0, 0, 0, 0.22);}
    .riderPage .goodsArea div ul li p::before{content: '#';}
    .riderPage .goodsArea div ul li:not(:first-child){background-repeat: no-repeat; background-position: center; background-size: cover;}
    .riderPage .goodsArea div ul li:nth-child(2){background-image: url('../images/rider/goods01.png');}
    .riderPage .goodsArea div ul li:nth-child(3){background-image: url('../images/rider/goods02.png');}
    .riderPage .goodsArea div ul li:nth-child(4){background-image: url('../images/rider/goods03.png');}
    .riderPage .goodsArea div ul li:nth-child(5){background-image: url('../images/rider/goods04.png');}
    .riderPage .goodsArea div ul li:nth-child(6){background-image: url('../images/rider/goods05.png');}

    /* 배너 */
    .riderPage .bannerArea{background: url('../images/rider/bannerBG.png') no-repeat center / cover; padding: 5.000rem 0;}
    .riderPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .riderPage .bannerArea div p{width: 31.250rem; font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 0.625rem black;}


    /* ! 허브 창업 */
    /* 바로고와 함께하는 이유 */
    .foundedPage .reasonArea .CW{position: relative;}
    .foundedPage .reasonArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .foundedPage .reasonArea .CW .imgArea{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}

    /* 놀라운 바로고의 성장세 */
    .foundedPage .growthArea .CW{display: flex; justify-content: space-between;}
    .foundedPage .growthArea .CW div{order: 1;}
    .foundedPage .growthArea .CW div h2{margin-bottom: 1.875rem;}
    .foundedPage .growthArea .CW ul{display: flex; flex-wrap: wrap; width: 30.000rem;}
    .foundedPage .growthArea .CW ul li:nth-child(2n + 1){width: 20.938rem;}
    .foundedPage .growthArea .CW ul li:not(:nth-last-child(-n + 2)){margin-bottom: 3.125rem;}
    .foundedPage .growthArea .CW ul li mark{font-weight: 700; display: block; margin-bottom: 1.250rem;}

    /* 허브 성장의 동반자 */
    .foundedPage .companionArea .CW{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .foundedPage .companionArea .CW .textArea h2{width: 21.875rem; margin-bottom: 1.563rem;}
    .foundedPage .companionArea .CW .imgArea{width: 61.86%;} 
    .foundedPage .companionArea .CW ul{width: 100%; display: flex; text-align: center; margin-top: 7.500rem;}
    .foundedPage .companionArea .CW ul li{flex: 1;}
    .foundedPage .companionArea .CW ul li:not(:nth-child(3n)){border-right: 1px solid rgba(0, 0, 0, 0.1);}
    .foundedPage .companionArea .CW ul li strong{font-weight: 700; display: block; margin-bottom: 1.875rem;}
    .foundedPage .companionArea .CW ul li mark{font-weight: 700; display: block; min-height: 3.750rem; margin-bottom: 0.625rem;}
    .foundedPage .companionArea .CW ul li p{font-size: 1.125rem; line-height: 1.67; color: #666;}

    /* 배너 */
    .foundedPage .bannerArea{padding: 5.313rem 0; box-sizing: border-box; background: url('../images/founded/banner.png') no-repeat center / cover;}
    .foundedPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .foundedPage .bannerArea div p{font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; width: 33.438rem;}


    /* ! 회사소개 */
    /* 세상에 활력을 더하는 초연결 생태계를 만듭니다 */
    .aboutUsPage .makeArea{margin-bottom: 12.500rem; padding-top: 11.875rem;}
    .aboutUsPage .makeArea h2{margin-bottom: 3.750rem;}
    .aboutUsPage .makeArea > div{max-width: 1600px; background: url('../images/aboutUs/bannerBG.png') no-repeat center / cover; margin:0 auto 5.000rem;}
    .aboutUsPage .makeArea > div div{height: 36.563rem; display: flex; justify-content: flex-end;}
    .aboutUsPage .makeArea > div div p{font-size: 1.375rem; color: white; line-height: 1.64; width: 33.750rem; padding: 5.625rem 0;}
    .aboutUsPage .makeArea > p{font-size: 1.250rem; line-height: 1.5; color: #111; text-align: center; max-width: 39.063rem; width: calc(100% - 2.500rem); margin: auto auto;}
    .aboutUsPage .makeArea > p:not(:last-of-type){margin-bottom: 1.875rem;}
    .aboutUsPage .makeArea > p:nth-of-type(2){margin-bottom: 7.500rem;}
    .aboutUsPage .makeArea ul{max-width: 1060px; margin: 0 auto; display: flex; justify-content: space-between; text-align: center;}
    .aboutUsPage .makeArea ul li{width: 32%; padding-top: 7.813rem; background-repeat: no-repeat; background-position: center top; background-size: 5.875rem;}
    .aboutUsPage .makeArea ul li:nth-child(1){background-image: url('../images/aboutUs/platform01.png');}
    .aboutUsPage .makeArea ul li:nth-child(2){background-image: url('../images/aboutUs/platform02.png');}
    .aboutUsPage .makeArea ul li:nth-child(3){background-image: url('../images/aboutUs/platform03.png');}
    .aboutUsPage .makeArea ul li strong{display: block; font-size: 1.500rem; font-weight: 700; margin-bottom: 1.250rem;}
    .aboutUsPage .makeArea ul li p{font-size: 1.250rem; line-height: 1.5; color: #111;}

    /* META LOGISTIS UNIVERSE */
    .aboutUsPage .scrollArea > div > p{max-width: 1800px; width: calc(100% - 2.500rem); margin: 0 auto;}
    .aboutUsPage .scrollArea > div > p span{display: block; padding-bottom: 5.2222%; background: url('../images/aboutUs/typo.png') no-repeat center / cover; height: 0.0001px; overflow: hidden; text-indent: -9999px;}


    [data-scroll="wrap"]{overflow: hidden;}
    [data-scroll="wrap"].active{overflow: auto; width: calc(100% + 17px); height: 100vh;}
    [data-scroll="wrap"] [data-scroll="area"]{height: 100vh; width: calc(100% + 17px); overflow: auto; }
    [data-scroll="wrap"] [data-scroll="area"].active{overflow: hidden; width: 100%;}

    .aboutUsPage .toDoArea{position: relative; height: 100vh; display: flex; justify-content: center; align-items: center;}
    .aboutUsPage .toDoArea .CW h2{margin-bottom: 1.875rem;}
    .aboutUsPage .toDoArea .CW > p{margin-bottom: 7.500rem;}
    .aboutUsPage .toDoArea .CW > div{display: flex; justify-content: space-between; align-items: center;}
    .aboutUsPage .toDoArea .CW > div .progressArea{position: relative; box-sizing: border-box;}
    .aboutUsPage .toDoArea .CW > div .progressArea .progressBar{position: absolute; left: 0; top: 0; height: 100%;}
    .aboutUsPage .toDoArea .CW > div .progressArea .progressBar span{height: 25%;}
    .aboutUsPage .toDoArea .CW > div .progressArea ul li div mark{display: block; margin-bottom: 1.250rem;}
    .aboutUsPage .toDoArea .CW > div .progressArea ul li div p{color: #666;}
    .aboutUsPage .toDoArea .CW > div .imgBox{width: 30.000rem;}



    /* 숫자로 보는 바로고 */
    .aboutUsPage .numberArea{margin-bottom: 12.500rem;}
    .aboutUsPage .numberArea > .CW{padding-top: 12.500rem; position: relative; }
    .aboutUsPage .numberArea > .CW [data-scroll="target2"]{position: absolute; left: 0; top: 0; width: 100%; padding-top: inherit; padding-bottom: inherit; pointer-events: none;}
    .aboutUsPage .numberArea > .CW [data-scroll="target2"] div{ max-width: 1180px; margin: 0 auto;}
    .aboutUsPage .numberArea > .CW [data-scroll="target2"] div h2{font-size: 2.250rem; font-weight: 700; margin-bottom: 1.875rem;}
    .aboutUsPage .numberArea > .CW [data-scroll="target2"] div p{max-width: 22.188rem; font-size: 1.250rem; line-height: 1.5; color: #111;}
    .aboutUsPage .numberArea > .CW [data-scroll="target2"][style*="fixed"] div{width: calc(100% - 40px);}
    .aboutUsPage .numberArea > .CW .numberArea{max-width: 42.500rem; margin-left: auto;}
    .aboutUsPage .numberArea > .CW .numberArea .canvas{margin-bottom: 12.500rem;}
    .aboutUsPage .numberArea > .CW .numberArea .canvas img{width: 100%;}
    .aboutUsPage .numberArea > .CW .numberArea ol li{display: flex; position: relative;}
    .aboutUsPage .numberArea > .CW .numberArea ol li::before{content: attr(title); position: absolute; top: 4.375rem; right: 1.250rem; font-size: 9.375rem; font-weight: 700; color: rgba(0, 0, 0, 0.05);}
    .aboutUsPage .numberArea > .CW .numberArea ol li:not(:last-child){margin-bottom: 20.625rem;}
    .aboutUsPage .numberArea > .CW .numberArea ol li p{font-size: 2.875rem; font-weight: 700; display: flex; flex-direction: column;}
    .aboutUsPage .numberArea > .CW .numberArea ol li p:not(:last-of-type){margin-right: 3.125rem;}
    .aboutUsPage .numberArea > .CW .numberArea ol li p::before{content: attr(title); width: 100%; font-size: 1.125rem; font-weight: 700; color: #666; margin-bottom: 1.875rem;}
    .aboutUsPage .numberArea > .CW .numberArea ol li p[data-percent]::after{align-self: flex-start; content: attr(data-percent) '%'; font-size: 1.250rem; font-weight: 700; color: #fa5014; padding-right: 1.563rem; background: url('../images/common/arrow-up.png') no-repeat right center / 1.250rem; margin-top: 1.563rem; }

    /* 바로고가 걸어온길 */
    .aboutUsPage .roadArea{display: flex; justify-content: space-between; position: relative; margin-bottom: 12.500rem;}
    .aboutUsPage .roadArea .CW{padding-top: 12.500rem;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"]{padding-top: inherit; pointer-events: none;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .textArea{max-width: 22.188rem; margin-bottom: 5.000rem;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .textArea h2{font-size: 2.625rem; font-weight: 700; margin-bottom: 1.875rem;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .textArea p{font-size: 1.250rem; line-height: 1.5;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .yearArea{pointer-events: all;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .yearArea li{font-size: 3.375rem; font-weight: 700; color: rgba(0, 0, 0, 0.13);}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .yearArea li:not(:last-child){margin-bottom: 3.750rem;}
    .aboutUsPage .roadArea .CW [data-scroll="target2"] .yearArea li.active{color: black;}
    .aboutUsPage .roadArea .CW .monthArea{max-width: 42.500rem; margin-left: auto; padding-top: 5.000rem;}
    .aboutUsPage .roadArea .CW .monthArea > li strong{display: block; font-size: 1.875rem; font-weight: 700; margin-bottom: 3.438rem;}
    .aboutUsPage .roadArea .CW .monthArea > li:not(:last-child){margin-bottom: 7.500rem;}
    .aboutUsPage .roadArea .CW .monthArea > li::before{content: attr(title);}
    .aboutUsPage .roadArea .CW .monthArea > li ol li{font-size: 1.250rem; display: flex; flex-wrap: wrap; align-items: flex-end;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li:not(:last-child){margin-bottom: 3.438rem;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li::before{content: attr(title); font-weight: 700; margin-right: 1.875rem;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li mark{margin: 0 0.313rem;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li mark::after{content: '*';}
    .aboutUsPage .roadArea .CW .monthArea > li ol li small{font-size: 1.000rem; color: #666; margin-left: 0.313rem;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li small::before{content: '*'; color: #fa5014;}
    .aboutUsPage .roadArea .CW .monthArea > li ol li img{max-width: 39.750rem; margin-top: 3.125rem;}

    /* BAROGO Breand identity */
    .aboutUsPage{margin-bottom: 12.500rem;}
    .aboutUsPage .breandArea .CW h2{font-size: 2.625rem; font-weight: 700; float: left; margin-right: 10.000rem;}
    .aboutUsPage .breandArea .CW div{float: left; width: 34.375rem; margin-bottom: 7.500rem;}
    .aboutUsPage .breandArea .CW div p{font-size: 1.250rem; line-height: 1.5; color: #111;}
    .aboutUsPage .breandArea .CW div p:not(:last-of-type){margin-bottom: 1.875rem;}
    .aboutUsPage .breandArea .CW div + *{display: block; clear: both;}
    .aboutUsPage .breandArea .CW strong{display: block; font-size: 1.250rem; font-weight: 700; margin-bottom: 3.125rem;}
    .aboutUsPage .breandArea .CW ul{margin-bottom: 7.500rem;}
    .aboutUsPage .breandArea .CW .logoArea{display: flex; padding: 3.750rem 0; border: 1px solid #fa5014;}
    .aboutUsPage .breandArea .CW .logoArea li{flex: 1; text-align: center; padding: 0.625rem 2.500rem;}
    .aboutUsPage .breandArea .CW .logoArea li b{display: block; margin-bottom: 1.875rem;}
    .aboutUsPage .breandArea .CW .logoArea li img{width: 100%;}
    .aboutUsPage .breandArea .CW .colorArea{display: flex;}
    .aboutUsPage .breandArea .CW .colorArea li{flex: 1; height: 30.000rem;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(1){background-color: #fa5014;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(2){background-color: #000000;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(3){background-color: #ffffff;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(4){background-color: #2d3ce6;}
    .aboutUsPage .breandArea .CW > a{width: 11.250rem; margin-left: auto;}

    .aboutUsPage .sliderBox{margin-bottom: 18.750rem;}

    .aboutUsPage .supportArea > div{min-height: 52.938rem;}

}