@media screen and (min-width : 768px) and (max-width : 1220px) {
    html{font-size: 1.3114vw;}
    /* 공통 */
    /* 폰트 케이스 */
    /* title case */
    .TC-01{font-size: 3.375rem; line-height: 1.33; font-weight: 700;}
    .TC-02{font-size: 2.625rem; line-height: 1.43; font-weight: 700;}
    .TC-03{font-size: 2.000rem; font-weight: 700;}
        
    /* font case 일반글자 */
    .FC-01{font-size: 1.250rem; line-height: 1.5; letter-spacing: -0.1px;}

    /* 포인트 색상 */
    mark{color: #fa5014;}
    /* mark 접근성 */
    mark::before{ clip-path: inset(100%); clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px;}
    mark::before {content: attr('title');}

    .hiddenText{height: 0.001px; overflow: hidden;}

    br.mobile{display: none;}

    /* 버튼 공통*/
    /* BTN (button) 배경이 들어가는 기본 버튼 */
    [class |= "BTN"]{ display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; font-weight: 700;}
    .BTN-arrow{ color: white; max-width: 16.688rem; line-height: 4.500rem; font-size: 1.250rem;  padding:0 2.500rem; background-color: #fa5014; box-shadow: 0 3px 7px 0 white; border: none;}
    .BTN-arrow::after{content: ''; width: 2.875rem; height: 0.625rem; background: url('../images/common/arrow_white.png') no-repeat center / cover; margin-left: 1.875rem;}
    input[type="submit"].BTN-arrow{width: 12.063rem; background:#fa5014 url('../images/common/arrow_white.png') no-repeat right 2.500rem center / 2.875rem;}
    /* BBTN (border button) 테두리가 들어가는 버튼*/
    [class |= "BBTN"]{display: flex; justify-content: space-between; align-items: center; max-width: 15rem; line-height: 3.875rem; font-size: 1.125rem; font-weight: 700; color: #fa5014; border: 0.063rem solid #fa5014; border-radius: 3px; padding: 0 1.875rem; box-sizing: border-box;}
    [class |= "BBTN"]::after{content: ''; width: 1.250rem; height: 1.250rem; margin-left: 0.625rem; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .BBTN-go::after{background-image: url('../images/common/go.png');}
    .BBTN-subscribe::after{background-image: url('../images/common/subscribe.png');}
    .BBTN-download::after{background-image: url('../images/common/download.png');}

    /* 문의하기 링크 */
    .fixedLink{position: fixed; right: 3.750rem; bottom: 3.750rem; transform: translateX(calc(100% + 3.750rem)); color: white; min-width: 16.688rem; line-height: 4.500rem; font-size: 1.250rem;  padding:0 2.500rem; background-color: #fa5014; border: none; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; z-index: 10; transition: transform 0.5s; }
    .fixedLink::after{content: ''; width: 2.875rem; height: 0.625rem; background: url('../images/common/arrow_white.png') no-repeat center / cover; margin-left: 1.875rem;}
    .fixedLink.active{transform: translateX(0);}

    /* 탑 버튼 */
    .topBtn{ display: none; position: fixed; left: 3.750rem; bottom: 3.750rem; width: 3.750rem; height: 3.750rem; background:white url('../images/common/top.png') no-repeat center / cover; text-indent: -9999px; z-index: 10;}
    .topBtn.active{display: block;}


    /* 오버라인 */
    [class*="overLine"]{position: relative;}
    [class*="overLine"]::before{content: ''; position: absolute; top: 0; width: calc(100% + ((100vw - 1180px - 17px) / 2)); min-width: 100%; height: 0.500rem; background-color: black;}
    .overLine-left::before{right: 0;}
    .overLine-right::before{left: 0;}


    /* 인트로 */
    .introBox{position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1000;}
    .introBox .BG{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: black;
        animation-name: introBG; 
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    @keyframes introBG {
        0%{clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 100%, 100% 100%, 100% 0%);}
        33%{clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 30% 45%, 70% 45%, 70% 55%, 0 55%, 0 100%, 100% 100%, 100% 0%);}
        66%{clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 45%, 100% 45%, 100% 55%, 0 55%, 0 100%, 100% 100%, 100% 0%);}
        100%{clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);}
    }
    .introBox .textArea{width: 100%; font-size: 6.250rem; color: white; font-weight: 900; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); margin: 0; text-align: center;}
    .introBox .textArea span{display: inline-block; position: relative; left: 0; text-align: center;  animation-timing-function: linear; animation-fill-mode: forwards;}
    .introBox .textArea span:nth-of-type(1){animation-name: textLeftMove;}
    .introBox .textArea span:nth-of-type(2){animation-name: textRightMove;}
    .introBox .textArea span:nth-of-type(3){animation-name: textLeftMove;}

    @keyframes textLeftMove {
        0%{left: 0;  transform: translateX(0);}
        100%{left: calc(-100% / 2);  transform: translateX(-50%);}
    }
    @keyframes textRightMove {
        0%{left: 0;  transform: translateX(0);}
        100%{left: calc(100% / 2);  transform: translateX(50%);}
    }

    /* 해더 */
    header{position: fixed; left: 0; top: 0; width: 100%; padding-top: 3.438rem; z-index: 100; transition-duration: 0.5s; background-color: white; transition-property: padding , box-shadow;}
    header div{display: flex; align-items: center;}
    header div h1{position: absolute; left: 3.750rem; top: 3.125rem; width: 3.750rem; transition-duration: 0.5s; transition-property: top , left , width;}
    header div h1.active{position: static; margin-right: 3.125rem;}
    header div h1 img{width: 100%;}
    header div nav ul{display: flex;}
    header div nav ul li:not(:last-child){margin-right: 3.750rem;}
    header div nav ul li a{padding: 0.625rem 0;}
    header div nav ul li:not(.active) a{font-weight: 500;}
    header div nav ul li.active a{font-weight: 700; position: relative;}
    header div nav ul li.active a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.250rem; background-color: black;}
    header div > a{text-indent: -9999px; width: 2.250rem; height: 2.250rem; background: url('../images/common/back.png') no-repeat center / cover;}
    header div button{display: none;}
    header div > p{display: none;}
    :is(.mainPage , .aboutUsPage) header div nav ul li:not(.active) a{opacity: 0.3;}
    :is(.mainPage , .aboutUsPage) header div nav ul li:hover a{opacity: 1;}

    header.active{padding: 1.250rem 0; box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1)}
    header.active h1{top: 1.875rem; left: 3.750rem; width: 2.188rem;}

    /* 푸터 */
    footer .topArea{background-color: black; padding: 3.125rem 0;}
    footer .topArea div{display: flex; justify-content: space-between;}
    footer .topArea div .linkArea{display: flex; color: white;}
    footer .topArea div .linkArea > li:not(:last-of-type){margin-right: 8.125rem;}
    footer .topArea div .linkArea > li b{display: block; font-size: 0.875rem; font-weight: 700; margin-bottom: 0.938rem;}
    footer .topArea div .linkArea > li ul li a{font-size: 0.750rem; line-height: 2.17; font-weight: 500; display: flex;}
    /* footer .topArea div .linkArea > li ul li a::before{content: attr('title'); font-weight: 700; width: 2.500rem;} */
    footer .topArea div .SNSArea{display: flex; gap: 1.250rem;}
    footer .topArea div .SNSArea li a{display: block; width: 1.250rem; height: 1.250rem; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    footer .topArea div .SNSArea li:nth-child(1) a{background-image: url('../images/common/facebook.png');}
    footer .topArea div .SNSArea li:nth-child(2) a{background-image: url('../images/common/youtube.png');}
    footer .topArea div .SNSArea li:nth-child(3) a{background-image: url('../images/common/blog.png');}
    footer .topArea div .SNSArea li:nth-child(4) a{background-image: url('../images/common/insta.png');}

    /* 바텀 공통 */
    footer .bottomArea{padding: 3.125rem 0 10.125rem;}
    footer .bottomArea p{font-size: 0.750rem; color: #999;}
    footer .bottomArea{display: flex; justify-content: space-between; align-items: flex-end;}
    footer .bottomArea div:first-of-type h2{width: 8.125rem; margin-bottom: 0.625rem;}
    footer .bottomArea div:first-of-type h2 img{width: 100%;}
    footer .bottomArea div:first-of-type address{display: flex; margin-bottom: 0.313rem;}
    footer .bottomArea div:first-of-type address p:not(:last-of-type){margin-right: 0.313rem;}
    footer .bottomArea div:first-of-type > p{margin-bottom: 1.250rem;}
    footer .bottomArea div:first-of-type ul{display: flex;}
    footer .bottomArea div:first-of-type ul li:not(:last-of-type){margin-right: 1.250rem;}
    footer .bottomArea div:first-of-type ul li a{font-size: 0.875rem; font-weight: 700;}
    footer .bottomArea div:nth-of-type(2){text-align: right;}
    footer .bottomArea div:nth-of-type(2) b{display: block; font-size: 0.750rem; margin-bottom: 0.625rem;}
    footer .bottomArea div:nth-of-type(2) a{font-size: 1.625rem; font-weight: 700; line-height: 1.19; margin-bottom: 0.625rem;}
    footer .bottomArea div:nth-of-type(2) p{line-height: 1.25;}


    /* 메인페이지 공통 */
    [data-scroll="fullPage"] > *:not(.scrollArea){height: 100vh; box-sizing: border-box;}
    [data-scroll="fullPage"] > *:not(.topBox , .scrollArea){display: flex; justify-content: center; align-items: center; padding-top: 5.625rem; box-sizing: border-box;}

    /* 메인페이지 상단 */
    [data-scroll="fullPage"] > .topBox{overflow: hidden; position: relative; background-image:  url('../images/common/main-bg2.png') , url('../images/common/main-bg.png'); background-repeat:no-repeat, repeat-x; background-size: 120rem;}
    [data-scroll="fullPage"] > .topBox .CW{height: 100%; padding-top: 11.875rem;}
    [data-scroll="fullPage"] > .topBox .CW h2{margin-bottom: 40px;}
    [data-scroll="fullPage"] > .topBox .imgArea{position: absolute; left: 50%; transform: translateX(-50%); width: 120rem; height: 46.875rem; background-repeat: no-repeat; background-size: cover; text-indent: -9999px;}
    @media screen and (max-height : 76.8032vw){
        [data-scroll="fullPage"] > .topBox{background-position: center top 27.938rem;}
        [data-scroll="fullPage"] > .topBox .imgArea{top: 11.688rem;}
    }
    @media screen and (min-height : 76.8032vw){
        [data-scroll="fullPage"] > .topBox{background-position: center bottom; }
        [data-scroll="fullPage"] > .topBox .imgArea{bottom: 0;}
    }
    .deliveryPage > .topBox .imgArea{background-image: url('../images/delivery/top-delivery.png');}
    .foundedPage > .topBox .imgArea{background-image: url('../images/founded/top-founded.png');}
    .riderPage > .topBox .imgArea{background-image: url('../images/rider/top-rider.png');}

    /* full page 안 progress */
    .progressArea{position: relative; padding-left: 6.250rem;}
    .progressArea .progressBar{position: absolute; left: 0; top: 0; width: 0.375rem; height: 100%; background-color: rgba(0, 0, 0, 0.1);}
    .progressArea .progressBar span{position: absolute; left: 0; top: 0; width: 100%; height: 33.33%; background-color: #fa5014; }

    /* full page 안 scroll 공통 */
    [data-scrollAni="opacity"] [data-scroll="target"]{position: relative;}
    [data-scrollAni="opacity"] [data-scroll="target"] li{opacity: 0; transition: opacity 0.5s;}
    [data-scrollAni="opacity"] [data-scroll="target"] li.active{opacity: 1;}
    [data-scrollAni="opacity"] [data-scroll="target"] li:not(:first-child){position: absolute; left: 0; top: 0;}
    [data-scrollAni="opacity"] [data-scroll="target"] li mark{display: block; margin-bottom: 1.875rem;}

    /* 이미지 공통 */
    .imgArea img{width: 100%;}

    /* 슬라이더 공통 */
    .sliderBox{overflow: hidden;}
    .sliderBox h2{margin-bottom: 3.125rem;}
    .sliderBox .swiper{overflow: visible;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide{width: calc((100% - 1.563rem) / 2); max-width: 35.938rem; }
    .sliderBox .swiper .swiper-wrapper .swiper-slide:not(:last-of-type){margin-right: 1.563rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide .imgArea{width: 100%; height: 20.313rem; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 1.250rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide mark{display: block; font-weight: 700; margin-bottom: 0.313rem;}
    .sliderBox .swiper .swiper-wrapper .swiper-slide p{color: #111;}

    /* 스크롤 */
    .scrollBox::-webkit-scrollbar{width: 0.313rem; height: 0.500rem; background-color: rgba(0, 0, 0, 0.1); }
    .scrollBox::-webkit-scrollbar-thumb {background: #fa5014;}

    /* 후원 */
    .supportArea > div{width: 100%; height: 100%; padding-top: 6.875rem; display: flex; align-items: center; background: #1a1a1a url('../images/common/footer_bg.png') no-repeat center top / 100%; position: relative; overflow: hidden; border-bottom: 1px solid #fa5014;}
    .supportArea > div div{padding-bottom: 2.500rem;}
    .supportArea > div div mark{display: block; padding-bottom: 2.187rem; margin-bottom: 2.187rem;}
    .supportArea > div div b{display: block; font-weight: 700; color: white; margin-bottom: 1.875rem;}
    .supportArea > div div span{display: block; background-repeat: no-repeat; background-size: cover; background-position: center; height: 0.001px; overflow: hidden; text-indent: -9999px;}
    .supportArea > div div span:not(:last-of-type){margin-bottom: 1.875rem;}
    .supportArea > div div span:nth-of-type(1){background-image: url('../images/common/supoort01.png'); padding-bottom: 15.9322%;}
    .supportArea > div div span:nth-of-type(2){background-image: url('../images/common/supoort02.png'); padding-bottom: 12.2881%;}
    .supportArea > div div span:nth-of-type(3){background-image: url('../images/common/supoort03.png'); padding-bottom: 1.6949%;}
  

    .scrollArea{padding-top: 5.625rem; box-sizing: border-box;}
    .scrollArea > div{overflow: auto; height: calc(100vh - 5.625rem); position: relative;}
    .scrollArea > div::-webkit-scrollbar {
        width: 0.313rem;
        height: 0.500rem;
        background-color: #aaa; 
    }
    .scrollArea > div::-webkit-scrollbar-thumb {
        background: #fa5014;
    }


    /* 문의 공통 */
    .inquiryArea{display: flex; justify-content: space-between; margin-bottom: 9.375rem; font-size: 1.125rem;}
    /* .inquiryArea .textArea{width: 295px;} */
    .inquiryArea .textArea + *{width: 63%;}
    .inquiryArea .textArea :is(h2 , legend){margin-bottom: 1.875rem;}
    .inquiryArea .textArea p{font-size: 1.375rem; line-height: 1.45; color: #111;}
    .inquiryArea .textArea mark{font-size: 1.250rem; font-weight: 600;}
    .inquiryArea .inputArea{padding-top: 7.500rem;}
    .inquiryArea .inputArea li{display: flex; flex-wrap: wrap; align-items: flex-end;}
    .inquiryArea .inputArea li:not(:last-child){margin-bottom: 5.000rem;}
    .inquiryArea .inputArea li > label{width: 100%;  font-weight: 600; margin-bottom: 1.250rem;} 
    .inquiryArea .inputArea li :is(input , select){flex: 1; width: 100%; height: 3.750rem;  border-width: 0 0 1px; border-color: #d4d4d4; border-style: solid; box-sizing: border-box;}
    .inquiryArea .inputArea li input[type="radio"]{display: none;}
    .inquiryArea .inputArea li select{background: url('../images/common/dropdown.png') no-repeat right center / 1.500rem; }
    .inquiryArea .inputArea li textarea{resize: none; width: 100%; height: 14.375rem; padding: 1.875rem; border: 1px solid #d4d4d4; box-sizing: border-box;}
    .inquiryArea .inputArea li :is(input , textarea)::placeholder{color: rgba(0, 0, 0, 0.3);}
    .inquiryArea .inputArea li div{width: 100%; display: flex;}
    .inquiryArea .inputArea li div:not([class]) *:not(:last-child){margin-right: 0.938rem;}
    .inquiryArea .inputArea li div ~ *:not(button){margin-top: 2.500rem;}
    .inquiryArea .inputArea li div :is(button , input[type="radio"] + label){font-size: 1rem; font-weight: 500; text-align: center; line-height: 3.750rem; border: 1px solid #d4d4d4; box-sizing: border-box;}
    .inquiryArea .inputArea li div:not([class]) label{flex: 1;}
    .inquiryArea .inputArea li div.showThree{flex-wrap: wrap; align-items: flex-start;}
    .inquiryArea .inputArea li div.showThree label{width: 31.6%;}
    .inquiryArea .inputArea li div.showThree label:not(:nth-of-type(3n)){margin-right: 2.6%;}
    .inquiryArea .inputArea li div.showThree label:not(:nth-last-of-type(-n + 3)){margin-bottom: 2.6%;}
    .inquiryArea .inputArea li div input[type="radio"]:checked + label{background-color: rgba(250, 80, 20, 0.05); border: 1px solid #fa5014; color: #fa5014;}
    .inquiryArea .inputArea li div button{min-width: 9.875rem;}
    .inquiryArea .inputArea li strong{font-size: 1.125rem; font-weight: 600; margin-bottom: 3.750rem;}
    .inquiryArea .inputArea li small{font-size: 1rem; font-weight: 400; color: #666; margin-bottom: 3.750rem;}
    .inquiryArea .inputArea li small::before{content: '*';}
    .agreeArea{width: 63%; margin-left: auto; margin-bottom: 7.500rem; font-size: 1.125rem; }
    .agreeArea legend{height: 0.001px; overflow: hidden;}
    .agreeArea input[type="checkbox"]{display: none;}
    .agreeArea label{ padding:0.125rem 0 0.125rem 2.313rem; box-sizing: border-box; background-image: url('../images/common/chk_off.png'); background-repeat: no-repeat; background-position: left center; background-size: 1.500rem;}
    .agreeArea input[type="checkbox"]:checked + label{background-image: url('../images/common/chk_on.png');}
    .agreeArea > label{display: block; font-weight: 700; margin-bottom: 1.875rem;}
    .agreeArea ul{border-top: 1px solid black; padding-top: 2.500rem;}
    .agreeArea ul li{display: flex; justify-content: space-between;}
    .agreeArea ul li:not(:last-child){margin-bottom: 2.500rem;}
    .agreeArea ul li label span{color: #666;}
    .agreeArea ul li a{text-decoration: underline; font-weight: 700;}
    .inquiryPage input[type="submit"]{margin-left: auto;}

    /* 게시판 공통 */
    .boardPage section{padding: 13.750rem 0 7.500rem;}
    .boardPage section h2{font-size: 2.250rem; font-weight: 700; margin-bottom: 5.000rem;}
    .boardPage section h2 small{ display: block; font-size: 1.125rem; font-weight: 400; margin-top: 0.625rem;}
    .boardPage section .listArea{display: flex; flex-wrap: wrap; margin-bottom: 2.813rem;}
    .boardPage section .listArea li:not(:last-child){margin-right: 0.625rem;}
    .boardPage section .listArea li a{font-size: 1rem; font-weight: 700; color: #666; padding: 0.938rem 1.875rem; border-radius: 6.250rem; background-color: #f0f0f0;}
    .boardPage section .listArea li.active a{color: white; background-color: #fa5014;}
    .boardPage section .boardArea{border-top: 0.250rem solid black; margin-bottom: 3.125rem;}
    .boardPage section .boardArea li{border-bottom: 1px solid #d4d4d4;}
    .boardPage section .boardArea li{display: flex; justify-content: flex-start; align-items: center; padding: 1.875rem 0; position: relative;}
    .boardPage section .boardArea li img{width: 10.000rem; margin-right: 5.000rem;}
    .boardPage section .boardArea li div{padding: 0.313rem 0;}
    .boardPage section .boardArea li div mark{display: block; font-size: 1rem; font-weight: 700; margin-bottom: 0.625rem;}
    .boardPage section .boardArea li div p{font-size: 1.375rem; font-weight: 700; color: #111; margin-bottom: 0.938rem;}
    .boardPage section .boardArea li div time{font-size: 1rem; color: #999;}
    .boardPage section .boardArea li a:nth-of-type(1):not(:last-of-type){width: 6.875rem; line-height: 2.625rem;  font-size: 0.875rem; font-weight: 500; text-align: center; border: 1px solid #d4d4d4; margin-left: auto; position: relative; z-index: 1;}
    .boardPage section .boardArea li a:last-of-type{position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-indent: -9999px;}
    .boardPage section .pageArea{display: flex; justify-content: center; align-items: center;}
    .boardPage section .pageArea > a{width: 1.250rem; height: 1.250rem; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    .boardPage section .pageArea > a:nth-of-type(1){background-image: url('../images/common/prev.png');}
    .boardPage section .pageArea > a:nth-of-type(2){background-image: url('../images/common/next.png');}
    .boardPage section .pageArea ol{display: flex; align-items: center; margin: 0 1.125rem;}
    .boardPage section .pageArea ol li:not(:last-child){margin-right: 1.625rem;}
    .boardPage section .pageArea ol li a{font-size: 1.125rem; font-weight: 700; color: #d4d4d4;}
    .boardPage section .pageArea ol li:is(.active, :hover) a{color: black; text-decoration: underline;}


    /* 게시판 상세 페이지 공통 */
    .detailPage section{padding-top: 14.063rem; margin-bottom: 7.500rem;}
    .detailPage section .titleArea{padding: 2.500rem 0; border-top: 0.250rem solid black;}
    .detailPage section .titleArea mark{display: block; font-size: 1.000rem; font-weight: 700; margin-bottom: 0.625rem;}
    .detailPage section .titleArea h3{font-size: 1.375rem; font-weight: 1.45; font-weight: 700; margin-bottom: 0.938rem;}
    .detailPage section .titleArea time{display: block; font-size: 1.000rem; font-weight: 400; color: #666666;}
    .detailPage section .contentArea{font-size: 1.000rem; line-height: 1.5; height: 14.063rem; padding: 2.500rem 0; border-width: 1px 0; border-style: solid; border-color: #d4d4d4; box-sizing: border-box;}
    .detailPage section .fileArea{padding: 2.500rem 0;}
    .detailPage section .fileArea .textArea{display: flex; font-size: 1.000rem;}
    .detailPage section .fileArea .textArea::before{content: attr(title); margin-right: 1.563rem;}
    .detailPage section .fileArea .textArea li:not(:last-child){margin-right: 0.938rem;}
    .detailPage section .fileArea .textArea li a{font-weight: 700; text-decoration: underline;}
    .detailPage section .fileArea .imgArea{display: flex; margin-top: 1.875rem;}
    .detailPage section .fileArea .imgArea li{width: 18.5%; position: relative;}
    .detailPage section .fileArea .imgArea li:not(:last-child){ margin-right: 1.875%;}
    .detailPage section .fileArea .imgArea li a{width: 100%; padding-bottom: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; height: 0.01px; text-indent: -9999px;}
    .detailPage section .fileArea .imgArea li a::after{content: ''; width: 3.750rem; height: 3.750rem; border-radius: 100%; background:rgba(0, 0, 0, 0.5) url('../images/detail/download.png') no-repeat center / 1.875rem; opacity: 0; transition: opacity 0.5s; position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%);}
    .detailPage section .fileArea .imgArea li a:hover::after{opacity: 1;}
    .detailPage section > a{display: block; width: 6.875rem; line-height: 2.500rem; font-size: 0.875rem; font-weight: 500; text-align: center; border: 1px solid #d4d4d4; margin: 3.125rem auto 0;}


    /* ! 배달대행 */
    /* 사장님의 정성 그대로 빠르고 확실하게 */
    .deliveryPage .qualitativeArea .CW{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
    .deliveryPage .qualitativeArea .CW div h2{margin-bottom: 6.250rem;}
    .deliveryPage .qualitativeArea .CW div h2 mark{display: block;}
    .deliveryPage .qualitativeArea .CW div div ul li div{display: flex; gap: 0.625rem; margin-top: 3.125rem;}
    .deliveryPage .qualitativeArea .CW div div ul li div a{white-space: nowrap;}
    .deliveryPage .qualitativeArea .CW > ul{width: 49.15%;}
    .deliveryPage .qualitativeArea .CW > ul li{width: 100%;}
    .deliveryPage .qualitativeArea .CW > ul li img{width: 100%;}

    /* 사장님의 따뜻한 마음 그대로 */
    .deliveryPage .mindArea{background-color: #f6f6f6;}
    .deliveryPage .mindArea .CW{display: flex; justify-content: space-between; align-items: center;}
    .deliveryPage .mindArea .CW .imgArea{width: 40.67%;}
    .deliveryPage .mindArea .CW .textArea h2{margin-bottom: 1.875rem;}
    .deliveryPage .mindArea .CW .textArea p:not(:last-of-type){margin-bottom: 1.875rem;}
    .deliveryPage .mindArea .CW .textArea p:last-of-type{margin-bottom: 3.125rem;}

    /* 성공하는 매장의 노하우 */
    .deliveryPage .knowHowArea .CW{display: flex; justify-content: space-between; }
    .deliveryPage .knowHowArea .CW .textArea h2{margin-bottom: 1.875rem;}
    .deliveryPage .knowHowArea .CW .textArea p{margin-bottom: 3.125rem;}
    .deliveryPage .knowHowArea .CW .textArea ul{display: flex;}
    .deliveryPage .knowHowArea .CW .textArea ul li:not(:last-child){margin-right: 1.250rem;}
    .deliveryPage .knowHowArea .CW .imgArea{width: 49.15%;}

    /* 기업 고객을 위한 프리미엄 라스트마일 물류 서비스 */
    .deliveryPage .distributionArea .CW{position: relative;}
    .deliveryPage .distributionArea .CW .imgArea{position: absolute; left: 0; top: 0; width: 53.38%; z-index: -1;}
    .deliveryPage .distributionArea .CW .textArea{width: 35.625rem; margin-left: auto;}
    .deliveryPage .distributionArea .CW .textArea > *:not(h2){padding-left: 6.250rem;}
    .deliveryPage .distributionArea .CW .textArea h2{margin-bottom: 5.000rem;}
    .deliveryPage .distributionArea .CW .textArea mark{display: block; margin-bottom: 1.563rem;}
    .deliveryPage .distributionArea .CW .textArea p:not(:last-of-type){margin-bottom: 3.750rem;}

    /* 배너 */
    .deliveryPage .bannerArea{background: url('../images/delivery/bottom-delivery.png') no-repeat center / cover; padding: 5.000rem 0;}
    .deliveryPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .deliveryPage .bannerArea div p{width: 31.250rem; font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 0.625rem black;}


    /* ! 라이더 지원 */
    /* 프로를 프로답게 바로고 라이더 라이프 */
    .riderPage .lifeArea .CW{position: relative;}
    .riderPage .lifeArea .CW .textArea > *:not(h2){padding-left: 6.250rem;}
    .riderPage .lifeArea .CW .textArea mark{display: block;}
    .riderPage .lifeArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .riderPage .lifeArea .CW .textArea > mark{margin-bottom: 1.563rem;}
    .riderPage .lifeArea .CW .textArea p:not(:last-of-type){margin-bottom: 3.750rem;}
    .riderPage .lifeArea .CW .imgArea{width: 52.54%; position: absolute; right: 0; top: 0;}

    /* 라이더님만을 위한 놀이터 바로고 플레이 */
    .riderPage .playgroundArea .CW{position: relative;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1){margin-bottom: 12.500rem;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2{margin-bottom: 1.563rem;}
    .riderPage .playgroundArea .CW .textArea > div:nth-of-type(1) h2 mark{display: block;}
    .riderPage .playgroundArea .CW .textArea .progressArea{width: 23.438rem; margin-left: auto; box-sizing: border-box;}
    .riderPage .playgroundArea .CW .imgArea{position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); width: 43.64%;}

    /* 나의 라이프스타일에 맞춰 주간스케쥴을 입력해보세요 */
    .riderPage .revenueArea{background-color: #f6f6f6;}
    .riderPage .revenueArea .CW{display: flex; justify-content: space-between; align-items: flex-end;}
    .riderPage .revenueArea .CW .textArea small{display: block; margin-bottom: 2.500rem;}
    .riderPage .revenueArea .CW .textArea > div > div{display: inline-block; position: relative;}
    .riderPage .revenueArea .CW .textArea > div > div button{display: flex;  align-items: center; }
    .riderPage .revenueArea .CW .textArea > div > div button::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.250rem; background-color: black;}
    .riderPage .revenueArea .CW .textArea > div > div button::after{content: ''; width: 3.000rem; height: 3.000rem; background: url('../images/common/dropdown.png') no-repeat center / cover;}
    .riderPage .revenueArea .CW .textArea > div > div > div{position: absolute; left: 0;  top: 100%; width: 100%;  z-index: 1; display: none; overflow: hidden;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul{height: 18.750rem; overflow: auto;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul li{display: block; line-height: 2.500rem; text-align: center; color: white; background-color: #444;}
    .riderPage .revenueArea .CW .textArea > div > div > div ul li:hover{background-color: black;}
    .riderPage .revenueArea .CW .textArea > div > div > div .progressBar{position: absolute; right: 0; top: 0; width: 0.313rem; background-color: #fa5014;}
    .riderPage .revenueArea .CW > div:last-child{position: relative; min-width: 33.709rem;}
    .riderPage .revenueArea .CW > div:last-child p{position: absolute; left: 1.875rem; top: -5.313rem; width: 15.000rem; height: 4.375rem; padding: 0.938rem 1.875rem; font-weight: 700; color: white;  box-sizing: border-box; background: url('../images/rider/tagbox.png') no-repeat center / 15.000rem;}
    .riderPage .revenueArea .CW > div:last-child span{font-size: 5.625rem; font-weight: 700;}
    .riderPage .revenueArea .CW > div:last-child span::before{content: '₩ ';}

    /* 망설이지 바로 시작하세요! */
    .riderPage .startArea{overflow: hidden;}
    .riderPage .startArea .CW{position: relative;}
    .riderPage .startArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .riderPage .startArea .CW .textArea h2 mark{display: block;}
    .riderPage .startArea .CW .imgArea{position: absolute; right: 0; top: 50%; width: 54.23%; transform: translateY(-50%);}
    .riderPage .startArea .CW .imgArea img{position: absolute; top: 0; right: calc((100vw -1180px) / -2); transform:translateY(-50%); transition: right 0.5s;}

    /* 라이더에게 최적화된 바로고 기능성 굿즈 */
    .riderPage .goodsArea div h2{display: inline-block; margin-bottom: 3.125rem;}
    .riderPage .goodsArea div ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .riderPage .goodsArea div ul li{width: 31.77%; height: 18.750rem;}
    .riderPage .goodsArea div ul li img{width: 100%;}
    .riderPage .goodsArea div ul li:not(:nth-last-child(-n + 3)){margin-bottom: 2.345%;}
    .riderPage .goodsArea div ul li p{font-size: 3.000rem; line-height: 1.46; font-weight: 700; color: rgba(0, 0, 0, 0.22);}
    .riderPage .goodsArea div ul li p::before{content: '#';}
    .riderPage .goodsArea div ul li:not(:first-child){background-repeat: no-repeat; background-position: center; background-size: cover;}
    .riderPage .goodsArea div ul li:nth-child(2){background-image: url('../images/rider/goods01.png');}
    .riderPage .goodsArea div ul li:nth-child(3){background-image: url('../images/rider/goods02.png');}
    .riderPage .goodsArea div ul li:nth-child(4){background-image: url('../images/rider/goods03.png');}
    .riderPage .goodsArea div ul li:nth-child(5){background-image: url('../images/rider/goods04.png');}
    .riderPage .goodsArea div ul li:nth-child(6){background-image: url('../images/rider/goods05.png');}

    /* 배너 */
    .riderPage .bannerArea{background: url('../images/rider/bottom-rider.png') no-repeat center / cover; padding: 5.000rem 0;}
    .riderPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .riderPage .bannerArea div p{width: 33.438rem; font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; text-shadow: 0 0 0.625rem black;}


    /* ! 허브 창업 */
    /* 바로고와 함께하는 이유 */
    .foundedPage .reasonArea .CW{position: relative;}
    .foundedPage .reasonArea .CW .textArea h2{margin-bottom: 6.250rem;}
    .foundedPage .reasonArea .CW .imgArea{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
    .foundedPage .reasonArea .CW .imgArea li{height: 100%; display: flex; align-items: center;}
    .foundedPage .foundedSlider{width: 31.875rem; height: 30.500rem; position: relative;}
    .foundedPage .foundedSlider::before ,.foundedPage .foundedSlider::after{content: ''; position: absolute; left: 0; width: 100%; height: 7.750rem; z-index: 5;} 
    .foundedPage .foundedSlider::before{top: 0; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); transform: rotate(-180deg);}
    .foundedPage .foundedSlider::after{bottom: 0; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);}
    .foundedPage .foundedSlider .swiper-wrapper{padding: 0 1.250rem; box-sizing: border-box;}
    .foundedPage .foundedSlider .swiper-wrapper .swiper-slide{height: 5.500rem; box-shadow: 0 0.500rem 2.125rem 0 rgb(8 11 21 / 7%); background-color: white; display: flex; justify-content: space-between;}
    .foundedPage .foundedSlider .swiper-wrapper .swiper-slide img{width: auto; height: 100%;}
    .foundedPage .foundedSlider .swiper-wrapper .swiper-slide div{display: flex; flex-direction: column; justify-content: center; padding-right: 2.500rem; text-align: right;}
    .foundedPage .foundedSlider .swiper-wrapper .swiper-slide div span{margin-bottom: 0.625rem; color: #a2a2a2;}
    .foundedPage .foundedSlider .swiper-wrapper .swiper-slide div p{font-size: 1.063rem;}

    /* 놀라운 바로고의 성장세 */
    .foundedPage .growthArea .CW{display: flex; justify-content: space-between;}
    .foundedPage .growthArea .CW div{order: 1;}
    .foundedPage .growthArea .CW div h2{margin-bottom: 1.875rem;}
    .foundedPage .growthArea .CW ul{display: flex; flex-wrap: wrap; width: 30.000rem;}
    .foundedPage .growthArea .CW ul li{min-width: 9.375rem;}
    .foundedPage .growthArea .CW ul li:nth-child(2n + 1){min-width: 20.625rem;}
    .foundedPage .growthArea .CW ul li:not(:nth-last-child(-n + 2)){margin-bottom: 3.125rem;}
    .foundedPage .growthArea .CW ul li mark{font-weight: 700; display: block; margin-bottom: 1.250rem;}
    .foundedPage .growthArea .CW ul li p::after{content: '+';}

    /* 허브 성장의 동반자 */
    .foundedPage .companionArea .CW{display: flex; flex-wrap: wrap; justify-content: space-between;}
    .foundedPage .companionArea .CW .textArea h2{width: 21.875rem; margin-bottom: 1.563rem;}
    .foundedPage .companionArea .CW .imgArea{width: 61.86%;} 
    .foundedPage .companionArea .CW ul{width: 100%; display: flex; text-align: center; margin-top: 7.500rem;}
    .foundedPage .companionArea .CW ul li{flex: 1;}
    .foundedPage .companionArea .CW ul li:not(:nth-child(3n)){border-right: 1px solid rgba(0, 0, 0, 0.1);}
    .foundedPage .companionArea .CW ul li strong{font-weight: 700; display: block; margin-bottom: 1.875rem;}
    .foundedPage .companionArea .CW ul li mark{font-weight: 700; display: block; min-height: 3.750rem; margin-bottom: 0.625rem;}
    .foundedPage .companionArea .CW ul li p{font-size: 1.125rem; line-height: 1.67; color: #666;}

    /* 배너 */
    .foundedPage .bannerArea{padding: 5.313rem 0; box-sizing: border-box; background: url('../images/founded/buttom-founded.png') no-repeat center / cover;}
    .foundedPage .bannerArea div{height: 100%; display: flex; align-items: flex-end;}
    .foundedPage .bannerArea div p{font-size: 1.500rem; font-weight: 700; line-height: 1.5; color: white; width: 33.438rem;}


    /* ! 회사소개 */
    [data-scroll="area"]{overflow: hidden; width: 100%; height: 100vh;}
    [data-scroll="area"].active{width: calc(100% + 17px); overflow: auto; }
    /* 세상에 활력을 더하는 초연결 생태계를 만듭니다 */
    .aboutUsPage .makeArea{margin-bottom: 12.500rem; padding-top: 11.875rem;}
    .aboutUsPage .makeArea h2{margin-bottom: 3.750rem;}
    .aboutUsPage .makeArea > div{max-width: 1600px; background: url('../images/aboutUs/bannerBG.png') no-repeat center / cover; margin:0 auto 5.000rem;}
    .aboutUsPage .makeArea > div div{height: 36.563rem; display: flex; justify-content: flex-end;}
    .aboutUsPage .makeArea > div div p{font-size: 1.375rem; color: white; line-height: 1.64; width: 33.750rem; padding: 5.625rem 0;}
    .aboutUsPage .makeArea > p{font-size: 1.250rem; line-height: 1.5; color: #111; text-align: center; max-width: 39.063rem; width: calc(100% - 2.500rem); margin: auto auto;}
    .aboutUsPage .makeArea > p:not(:last-of-type){margin-bottom: 1.875rem;}
    .aboutUsPage .makeArea > p:nth-of-type(2){margin-bottom: 7.500rem;}
    .aboutUsPage .makeArea ul{max-width: 1060px; margin: 0 auto; display: flex; justify-content: space-between; text-align: center;}
    .aboutUsPage .makeArea ul li{width: 32%; padding-top: 7.813rem; background-repeat: no-repeat; background-position: center top; background-size: 5.875rem;}
    .aboutUsPage .makeArea ul li:nth-child(1){background-image: url('../images/aboutUs/platform01.png');}
    .aboutUsPage .makeArea ul li:nth-child(2){background-image: url('../images/aboutUs/platform02.png');}
    .aboutUsPage .makeArea ul li:nth-child(3){background-image: url('../images/aboutUs/platform03.png');}
    .aboutUsPage .makeArea ul li strong{display: block; font-size: 1.500rem; font-weight: 700; margin-bottom: 1.250rem;}
    .aboutUsPage .makeArea ul li p{font-size: 1.250rem; line-height: 1.5; color: #111;}

    /* META LOGISTIS UNIVERSE */
    .aboutUsPage .metaArea{max-width: 1800px; width: calc(100% - 2.500rem); margin: 0 auto;}
    .aboutUsPage .metaArea span{display: block; padding-bottom: 5.2222%; background: url('../images/aboutUs/typo.png') no-repeat center / cover; height: 0.0001px; overflow: hidden; text-indent: -9999px;}

    /* 초연결 생태계를 만들기 위해 바로고가 하는 것 */
    .aboutUsPage .toDoArea{position: relative; height: 100vh; display: flex; justify-content: center; align-items: center; padding-top: 5.625rem; box-sizing: border-box;}
    .aboutUsPage .toDoArea .CW h2{margin-bottom: 1.875rem;}
    .aboutUsPage .toDoArea .CW > p{margin-bottom: 0px;}
    .aboutUsPage .toDoArea .CW > div{display: flex; justify-content: space-between; align-items: center;}
    .aboutUsPage .toDoArea .CW > div .progressArea{position: relative; box-sizing: border-box;}
    .aboutUsPage .toDoArea .CW > div .progressArea .progressBar{position: absolute; left: 0; top: 0; height: 100%;}
    .aboutUsPage .toDoArea .CW > div .progressArea .progressBar span{height: 25%;}
    .aboutUsPage .toDoArea .CW > div .progressArea ul li div mark{display: block; margin-bottom: 1.250rem;}
    .aboutUsPage .toDoArea .CW > div .progressArea ul li div p{color: #666;}
    .aboutUsPage .toDoArea .CW > div .imgArea{width: 30.000rem;}



    /* 숫자로 보는 바로고 */
    /* .aboutUsPage .numberArea{height: 100vh; display: flex; align-items: center;} */
    .aboutUsPage .numberArea .CW{display: flex; justify-content: space-between;}
    .aboutUsPage .numberArea .CW .textArea h2{font-size: 2.250rem; font-weight: 700; margin-bottom: 1.875rem;}
    .aboutUsPage .numberArea .CW .textArea p{max-width: 22.188rem; font-size: 1.250rem; line-height: 1.5; color: #111;}
    .aboutUsPage .numberArea .CW .countArea .graphArea{width: 42.500rem; margin-bottom: 6.250rem; position: relative;}
    .aboutUsPage .numberArea .CW .countArea .graphArea mark{position: absolute; left: 0; top: 3.750rem; font-size: 5.000rem; font-weight: 900;}
    .aboutUsPage .numberArea .CW .countArea .graphArea mark::after{content: '%';}
    .aboutUsPage .numberArea .CW .countArea .graphArea img{width: 100%;}
    .aboutUsPage .numberArea .CW .countArea .graphArea canvas{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    .aboutUsPage .numberArea .CW .countArea .yearArea{position: relative; padding-bottom: 8.125rem;}
    .aboutUsPage .numberArea .CW .countArea .yearArea h3{position: absolute; top: 4.375rem; right: 1.250rem; font-size: 9.375rem; font-weight: 700; color: rgba(0, 0, 0, 0.05);}
    .aboutUsPage .numberArea .CW .countArea .yearArea ul{display: flex; position: relative;}
    .aboutUsPage .numberArea .CW .countArea .yearArea ul li{font-size: 2.875rem; font-weight: 700; display: flex; flex-direction: column;}
    .aboutUsPage .numberArea .CW .countArea .yearArea ul li:not(:last-of-type){margin-right: 3.125rem;}
    .aboutUsPage .numberArea .CW .countArea .yearArea ul li::before{content: attr(title); width: 100%; font-size: 1.125rem; font-weight: 700; color: #666; margin-bottom: 1.563rem;}
    .aboutUsPage .numberArea .CW .countArea .yearArea ul li p::after{content: '+';}


    /* 바로고가 걸어온길 */
    .aboutUsPage .roadArea{height: 100vh; display: flex; align-items: center; overflow: hidden;}
    .aboutUsPage .roadArea .CW{display: flex; justify-content: space-between;}
    .aboutUsPage .roadArea .CW .textArea{max-width: 22.188rem;}
    .aboutUsPage .roadArea .CW .textArea h2{font-size: 2.625rem; font-weight: 700; margin-bottom: 1.875rem;}
    .aboutUsPage .roadArea .CW .textArea p{font-size: 1.250rem; line-height: 1.5; margin-bottom: 5.000rem;}
    .aboutUsPage .roadArea .CW .textArea .yearArea ol li{font-size: 3.375rem; font-weight: 700; color: rgba(0, 0, 0, 0.13); cursor: pointer;}
    .aboutUsPage .roadArea .CW .textArea .yearArea ol li:not(:last-child){margin-bottom: 3.750rem;}
    .aboutUsPage .roadArea .CW .textArea .yearArea ol li.active{color: black;}
    .aboutUsPage .roadArea .CW .monthArea{position: relative; width: 42.500rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol{position: absolute; right: 0; top: 0;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li strong{display: block; font-size: 1.875rem; font-weight: 700; margin-bottom: 3.438rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li:not(:last-child){margin-bottom: 7.500rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li{font-size: 1.250rem; display: flex; flex-wrap: wrap; align-items: flex-end;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li:not(:last-child){margin-bottom: 3.438rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li::before{content: attr(title); font-weight: 700; margin-right: 1.875rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li mark{margin: 0 0.313rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li mark::after{content: '*';}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li small{font-size: 1rem; color: #666; margin-left: 0.313rem;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li small::before{content: '*'; color: #fa5014;}
    .aboutUsPage .roadArea .CW .monthArea > ol > li ol li img{max-width: 39.750rem; margin-top: 3.125rem;}

    /* BAROGO Breand identity */
    .aboutUsPage{margin-bottom: 12.500rem;}
    .aboutUsPage .breandArea .CW h2{font-size: 2.625rem; font-weight: 700; float: left; margin-right: 10.000rem;}
    .aboutUsPage .breandArea .CW div{float: left; width: 34.375rem; margin-bottom: 7.500rem;}
    .aboutUsPage .breandArea .CW div p{font-size: 1.250rem; line-height: 1.5; color: #111;}
    .aboutUsPage .breandArea .CW div p:not(:last-of-type){margin-bottom: 1.875rem;}
    .aboutUsPage .breandArea .CW div + *{display: block; clear: both;}
    .aboutUsPage .breandArea .CW strong{display: block; font-size: 1.250rem; font-weight: 700; margin-bottom: 3.125rem;}
    .aboutUsPage .breandArea .CW ul{margin-bottom: 7.500rem;}
    .aboutUsPage .breandArea .CW .logoArea{display: flex; padding: 3.750rem 0; border: 1px solid #fa5014;}
    .aboutUsPage .breandArea .CW .logoArea li{flex: 1; text-align: center; padding: 0.625rem 2.500rem;}
    .aboutUsPage .breandArea .CW .logoArea li b{display: block; margin-bottom: 1.875rem;}
    .aboutUsPage .breandArea .CW .logoArea li img{width: 100%;}
    .aboutUsPage .breandArea .CW .colorArea{display: flex;}
    .aboutUsPage .breandArea .CW .colorArea li{flex: 1; height: 30.000rem; display: flex; justify-content: space-between; align-items: flex-start; padding: 1.875rem; box-sizing: border-box;  background-repeat: no-repeat; background-position: right 1.875rem top 1.875rem; background-size: 1.563rem;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(1){background-color: #fa5014; background-image: url('../images/aboutUs/color01.png');}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(2){background-color: #000000; background-image: url('../images/aboutUs/color02.png');}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(3){background-color: #ffffff; background-image: url('../images/aboutUs/color03.png');}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(4){background-color: #2d3ce6; background-image: url('../images/aboutUs/color04.png');}
    .aboutUsPage .breandArea .CW .colorArea li p{font-size: 0.938rem; line-height: 1.33; font-weight: 600;}
    .aboutUsPage .breandArea .CW .colorArea li:not(:nth-child(3)) p{color: white;}
    .aboutUsPage .breandArea .CW .colorArea li:nth-child(3) p{color: black;}
    .aboutUsPage .breandArea .CW > a{width: 11.250rem; margin-left: auto;}

    .aboutUsPage .sliderBox{margin-bottom: 18.750rem;}

    .aboutUsPage .supportArea > div{min-height: 52.938rem; align-items: flex-end;}
    

    /* 문의 */
    /* 배달대행 문의 안내 */
    .inquiryPage{padding: 14.375rem 0 7.500rem;}
    .inquiryArea .guideArea{padding-top: 5.938rem; display: flex; justify-content: space-between;}
    .inquiryArea .guideArea li{width: 48.5%; border: 1px solid #ddd;}
    .inquiryArea .guideArea li a{display: block; height: 23.125rem; padding: 12.813rem 2.500rem 5.625rem; box-sizing: border-box; font-size: 1.750rem; font-weight: 700; line-height: 1.36; color: #111; background-position: left 2.500rem top 3.125rem , left 2.500rem bottom 2.500rem; background-repeat: no-repeat;}
    .inquiryArea .guideArea li:nth-child(1) a{background-image: url('../images/inquiry/shop.png') , url('../images/common/arrow_black.png');}
    .inquiryArea .guideArea li:nth-child(2) a{background-image: url('../images/inquiry/corp.png') , url('../images/common/arrow_black.png');}

    /* 문의 완료 */
    .inquiryPage.finArea{height: 100vh; box-sizing: border-box;}
    .inquiryPage.finArea section{text-align: center; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
    .inquiryPage.finArea section h2{font-size: 2.250rem; font-weight: 700; margin-bottom: 1.250rem; padding-top: 8.125rem; background: url('../images/inquiry/complete.png') no-repeat center top; background-size: 8.375rem;}
    .inquiryPage.finArea section p{font-size: 1.250rem; line-height: 1.5; margin-bottom: 4.063rem;}
    .inquiryPage.finArea section a:not([class]){font-size: 1.125rem; line-height: 1.67; font-weight: 700; color: #666; text-decoration: underline; margin-bottom: 8.125rem;}

}