<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# share id
RewriteRule ^(profile|share|password)/([0-9a-zA-Z]+)$ $1.php?id=$2 [L,QSA]


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} !^/(profile|share|password) [NC]
RewriteRule ^([^\.]+)$ $1.php [NC,L]



</IfModule>